
html, body, #map-canvas { 
    height: 100%; margin: 0; padding: 0;
}


#quake_data{
    position: absolute; 
    top: 5%;               
    z-index: 1;
    right:6%; 
}

.modal-content{
    width:130%; 
}